.all-content {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 100px;
}

.mid-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 1rem;
}

.sidebar {
  color: #130461;
  font-size: 18px;
  border: 2px solid lightblue;
  height: calc(90vh);
}

.posts {
  display: grid;
  grid-template-columns: 1fr;
  font-family: "Poppins", sans-serif;
  margin-top: -200px;
  margin-left: 12px;
  height: 100px;
}

.posts h3 {
  font-size: 25px;
}

/* single post */

.post {
  display: grid;
  grid-template-columns: 1fr;
  border: 1px solid lightblue;
  border-radius: 1rem;
  width: 925px;
}

.post-content {
  margin-left: 10px;
}

.post-content button {
  height: 30px;
  border-radius: 1rem;
}

.post p {
  font-size: 18px;
}

.post-content input {
  width: 80%;
  height: 25px;
  border-radius: 1rem;
}

.right-content {
  display: grid;
  grid-template-columns: 1fr;
}

/* ProfileContent.js */

.right-side {
  display: grid;
  grid-template-columns: 1fr;
}

.avatar-content {
  margin: 0.8rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  height: 320px;
  height: calc(30vh);
}

.about {
  display: grid;
  grid-template-columns: 1fr;
}
.about p {
  font-size: 16px;
}

img {
  width: 90%;
  height: calc(315px);
  border-radius: 1rem;
}

#post-header {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  color: #130461;
  margin-left: 13px;
}

#post-box {
  height: 3.65rem;
  width: 44.5%;
  border: 0.2px sold lightblue;
  margin-left: 13px;
  border-radius: 0.5rem;
}

#post-submit {
  height: 4.15rem;
  width: 10%;
  border: 0.5rem solid lightblue;
  border-radius: 0.5rem;
}

.uldiv {
  display: flex;
  justify-content: center;
}

ul {
  width: 100%;
  padding-inline-start: 0;
  list-style: none;
}

li {
  width: 80%;
  height: 4rem;
  border: 0.5px solid lightblue;
  border-radius: 0.5rem;
  font-size: 20px;
  margin: 2.5rem;
}

.hvcenter {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
  font-family: "Poppins", sans-serif;
}

.edit-but {
  width: 80px;
  height: 40px;
  border-radius: 1em;
  background-color: #004698;
  color: white;
  font-family: "Poppins", sans-serif;
}

/* .edit-profile-form {
} */
.edit-form form {
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 1rem;
  background-color: white;
  font-family: "Poppins", sans-serif;
  margin-top: 20px;
}

#name,
#email,
#password,
#repassword,
#about,
#birthday {
  width: 60%;
  height: 40px;
  border-radius: 4px;
  margin: 10px;
  font-family: "Poppins", sans-serif;
}
